<h3>
    Hello {{ firstname }} {{ lastname }} and welcome to our website
</h3>
<p>
    We understand that you are trying to create a new account having ' {{ username }} ' as it's username. <br>
    This is you link to confirm that request. <br>
    <a href="{{ link }}">{{ link }}</a> <br>
    We are happy to have you joining us and may you find what you need in our site <br>
    With Love from our team ❤️ ❤️ ❤️
</p>
